@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "DM Sans-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "DM Sans-Regular";
  src: local("DM Sans-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "DM Sans-Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "DM Sans-Medium";
  src: local("DM Sans-Medium");
}
/* @FONTWARNING[{"type": "restricted", "family": "DM Sans-SemiBold", "weight": "600", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "DM Sans-SemiBold";
  src: local("DM Sans-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Bebas Neue-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Bebas Neue-Regular";
  src: local("Bebas Neue-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "DM Sans-Light", "weight": "300", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "DM Sans-Light";
  src: local("DM Sans-Light");
}
/* @FONTWARNING[{"type": "restricted", "family": "Roboto-Black", "weight": "900", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black");
}
