@font-face {
  font-family: "DM Sans-Regular";
  src: local("DM Sans-Regular");
}

@font-face {
  font-family: "DM Sans-Medium";
  src: local("DM Sans-Medium");
}

@font-face {
  font-family: "DM Sans-SemiBold";
  src: local("DM Sans-SemiBold");
}

@font-face {
  font-family: "Bebas Neue-Regular";
  src: local("Bebas Neue-Regular");
}

@font-face {
  font-family: "DM Sans-Light";
  src: local("DM Sans-Light");
}

@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black");
}
